/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /******Credits to https://codepen.io/saransh/pen/BKJun*****/
html {
    background-color: rgb(233, 229, 229);
}
h1 {
    font-family: monospace;
    color: purple;
}
li {
    background-color: pink;
    color: white;
    padding: 10px;
    border: 3px solid;
    border-color: magenta purple magenta purple;
    margin: 10px;
    max-width: 175px;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

/*detlist is in new.html.erb*/
.detlist {
    background-color: rgba(34, 234, 156, 0.8);
    border: 5px dotted;
    border-color: grey;
}

.headers {
    font-size: 20px;
    font-family: sans-serif;
}
button {
    font-family: monospace;
    font-size: 25px;
    margin: 50px 50px 50px 50px;
    
}
/*new.html*/
#new-todo-description {
    color:pink;
    font-family: inherit;
    
}
#new-todo-due-date {
     color:pink;
    font-family: inherit;
}
#add-new-todo-button {
     color:pink;
    font-family: inherit;
}

.txtBox {
  height: 3.7rem;
  width: 17rem;
  margin-left: 76px;
  border-style: dotted;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  font-size: large;
}

/************/
