<body>
   <h1> <strong>To Do List</strong></h1> 
        <ul> 
            <li> 
            <input type="checkbox">
            clean room </li>
            <li> <input type="checkbox"> 
            apush homework</li>
            <li> <input type="checkbox">
            sweep floor</li>
            <li> <input type="checkbox"> 
            do laundry </li>
        </ul>
    <a href= "show.html">New Todo</a>
</body> 

