<h1><strong>To Do List</strong></h1> 
        <ul> 
            <li> 
            <input type="checkbox">
            <a href="show/1">clean room</a> 
            </li>
            <li> <input type="checkbox"> 
            <a href="show/2">apush homework</a>
            </li>
            <li> <input type="checkbox">
            <a href="show/3">sweep floor</a>
            </li>
            <li> <input type="checkbox"> 
            <a href="show/4">do laundry</a>
            </li>
        </ul>
    <a href= "show.html">New Todo</a>
    


