<h3>New Todo</h3>
    <h2 class="headers">Item Name:</h2>
        <input type="item name" placeholder="ex: do homework">
    <h2 class="headers">Date:</h2>
        <input type="date" placeholder="MM/DD/YYYY">
    <h3 class="headers">Time Preference:</h3>
        <input type="time" placeholder="ex: 4 pomordoros or 2hr & 30min">
    <h4 class="headers">Category:</h4>
        <ul> 
            <li class="detlist"> <input type="checkbox">
            Work</li>
            <li class="detlist"> <input type="checkbox"> 
            School</li>
            <li class="detlist"> <input type="checkbox">
            Recreational</li>
            <li class="detlist"> <input type="checkbox">
            Family</a></li>
            <li class="detlist"> <input type="checkbox">
            Share with... <input type="email" placeholder="peer's email"></li>
        

        </ul>
    <a href="/todo/index">Previous</a>
