
<h1><%=@todo.description%></h1>
<h3> Todo #<%= @todo.id %></h3>

    
<ul class="detList">
        <li class="deListItem"> Date:<%= @todo.due_date%></li>
        <li class="deListItem">Details: Do it</li>
        <li class="deListItem">Time: </li>
</ul>
<a href="/todo/index">Previous</a>
<button class="show"><a id="addButton" href="/todo/index">Previous</a></button>
<button class="show"><a id="addButton" href="/todo/edit/<%= @todo.id%>">Edit</a></button>