
    <h1><%=@todo_description%></h1>
    <h3> Todo #<%= params[:id] %></h3>
    <h2 class="headers">Date:</h2>
        
    <h3 class="headers">Time Preference: <%=@todo_time%></h3>
         
    <h4 class="headers">Category:</h4>
        
    <a href="/todo/index">Previous</a>
